@use "sass:string";
@use "sass:math";
@use "sass:meta";
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0d192b;
  font-family: 'Outfit';
  font-weight: 300, 400, 600;
  color: #8bacda;
}

.preview_card {
  border-radius: 12px;
  margin: 15%;
  padding: min(5%, 30px);
  background-color: #14253d;
  max-width: 350px;
}

.preview_img {
  /*display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
  background-image: url("../nft-preview-card-component-main/images/image-equilibrium.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 8px;
}

.preview_img .view {
  visibility: visible;
  opacity: 0;
}

.preview_img:hover .view {
  opacity: 0.5;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.preview_img .view ~ img:hover {
  opacity: 0.5;
  display: block;
}

.nft_title {
  color: white;
  font-weight: 600;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  word-break: break-all;
}

.nft_title:hover {
  color: #00fff7;
}

p {
  font-size: 18px;
}

.nft_description {
  color: #8bacda;
  font-weight: 300;
  word-break: keep-all;
}

.nft_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.price {
  color: #00fff7;
  font-weight: 600;
}

.time_left {
  font-weight: 400;
}

/*hr
{
    background-color: $line;
    border-top: 1px solid $line;
    border-radius: 1px;
}*/
.creator_credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  row-gap: 15px;
  font-weight: 300;
}

.creator_pp {
  margin: auto;
  max-width: 100%;
  border: 3px solid white;
  border-radius: 50%;
}

.creator_pp img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.creator_name {
  color: white;
  font-weight: 400;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.creator_name:hover {
  color: #00fff7;
}
/*# sourceMappingURL=style.css.map */