$main_BG: hsl(217, 54%, 11%);
$card_BG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$soft_blue :hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

@function css-function( $function, $values... ) {
	@return 
		$function
		+ unquote( '(' )
		+ $values
		+ unquote( ')' )
	;
}

@function css-min( $values... ) {
	@return css-function( min, $values );
}

@function css-max( $values... ) {
	@return css-function( max, $values );
}

@function css-clamp( $values... ) {
	@return css-function( clamp, $values );
}

.attribution 
{ 
    font-size: 11px; text-align: center; 
}

.attribution a 
{
    color: hsl(228, 45%, 44%); 
}

body
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $main_BG;
    font-family: 'Outfit';
    font-weight: 300, 400, 600;
    color: $soft_blue;
}

.preview_card
{
    
    border-radius: 12px;
    margin: 15%;
    padding: css-min(5%, 30px);
    background-color: $card_BG;
    max-width: 350px;
}

.preview_img
{
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $cyan;
    border-radius: 8px;
}

.preview_img .view
{
    display: inline-block;
    position: relative;
    left: 50%;
    //bottom: 50%;
    transform: translateX(-50%);
    //transform: translateY(-50%);
    visibility: visible;
    z-index: 1;
}

.preview_img img
{
    display: block;
    margin: auto;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 500ms;
}

.preview_img .view ~ img:hover
{
    opacity: 0.5;
    display: block;
}

.nft_title
{
    color: $white;
    font-weight: 600;
    transition: color 500ms;
    word-break: break-all;
}

.nft_title:hover
{
    color: $cyan;
}


p
{
    font-size: 18px;
}

.nft_description
{
    color: $soft_blue;
    font-weight: 300;
    word-break: keep-all;
}

.nft_info
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.price
{
    color: $cyan;
    font-weight: 600;
    //align-self: flex-start;
}

.time_left
{
    font-weight: 400;
    
    //align-self: flex-end;
}

/*hr
{
    background-color: $line;
    border-top: 1px solid $line;
    border-radius: 1px;
}*/

.creator_credits
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-items: stretch;
    row-gap: 15px;
    font-weight: 300;
}

.creator_pp
{
    
    margin :auto;
    max-width: 100%;
    border: 3px solid $white;
    border-radius: 50%;
    
}

.creator_pp img
{    
    object-fit: scale-down;
}

.creator_name
{
    color: $white;
    font-weight: 400;
    transition: color 500ms;
}

.creator_name:hover
{
    color: $cyan;
}

